{% load static %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>Hard game</title>
	<link rel="shortcut icon" href="{% static 'game/images/gamepad.png' %}">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="{% static 'game/reset.css' %}">
	<link rel="stylesheet" href="{% static 'game/style.css' %}">
</head>

<body>

<div class="wrapper">

	<header class="header">
        <span>   
            <a href="{% url 'greeting' %}"><img src="{% static 'game/images/ssp_logo.png' %}" alt="img"></a> 
            <a id="about" href="{% url 'about' %}">About</a>
   
        </span>
	</header><!-- .header-->

	<main class="content">
		{% block content %} 
		
		{% endblock  %} 
	</main><!-- .content -->

</div><!-- .wrapper -->

<footer class="footer">
	<p>No rights. No hope. No life. &cross; {% now 'Y' %} </p>
</footer><!-- .footer -->

</body>

</html>