{% extends "game/base.html" %}

{% load static %}


{% block content %}
    <h1 class="greeting">Hello friend!</h1>
    <p class="greeting-discription">This is a small interactive entertainment named "stone, scissors, paper "<br>
    Please introduce yourself and enjoy the game: </p>
        
    <form class="form" method="POST">
        {% csrf_token %}
        
        {{ form }}
        <button class="hi_btn" type="submit"> Enjoy!</button> 
    </form>
    
    <img class="greeting-img" src="{% static 'game/images/ssp_hard2-cut.png' %}" alt="img">
{% endblock %}